<p style="color: green"><%= notice %></p>

<div id="relations">
   
   <div class="group-transactions-header">
      <h3><%= @group.name %></h3>
   </div>


  <ul class="charge-container">
  
   <% if @charges.empty? %>
     <li>You don't have any registered charges yet</li>
   <% end %>

   <% @charges.each do |charge| %>
    <li>
     <div> Logo <%# <div><%= @group.icon %></div>
      <div>
       <h3><%= charge.name %></h3>
       <h4><%= charge.created_at %></h4>
      </div>
      <p>$<%= charge.amount %></p>
    </li>
    <% end %>

  </ul>

  <%= link_to "Add a new transaction", new_charge_path %>
</div>
