<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-nav">
  <div class="new-my-form">
    <%= link_to '<', splashs_index_path %>
    <h2>Log in</h2>
    <%= f.submit "Log in" %>
  </div>
  </div>
  
  <div class="field f-1">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field f-2">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>
  
  <%= link_to "Forgot your password?", new_user_password_path, class: "forgot" %>
<% end %>


