<p style="color: green"><%= notice %></p>

<%= render @charge %>

<div>
  <%= link_to "Edit this charge", edit_charge_path(@charge) %> |
  <%= link_to "Back to charges", charges_path %>

  <%= button_to "Destroy this charge", @charge, method: :delete %>
</div>
