<!DOCTYPE html>
<html>
  <head>
    <title>2Save</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%if user_signed_in? %>
  <nav class="nav section-name">
       <% if current_page?(root_path) || current_page?(controller: "groups", action: "new") %>
      <div>
        <%= image_tag("https://img.icons8.com/ios/50/null/menu-rounded.png") %>
        <h2>CATEGORIES</h2>
        <%= image_tag("https://img.icons8.com/ios/50/null/search--v1.png") %>
      </div>
      <% else %>
      <div>
        <%= link_to '<', root_path %>
        <h2>TRANSACTIONS</h2>
        <%= image_tag("https://img.icons8.com/ios/50/null/search--v1.png") %>
      </div>
      <% end %>
  </nav> <br>
  <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%if user_signed_in? %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% end %>
  </body>
</html>
