<!DOCTYPE html>
<html>
  <head>
    <title>2Save</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%if user_signed_in? %>
  <h1>Logo</h1>
  <nav class="nav">
    <ul class="categories-links">
       <% if current_page?(root_path) || current_page?(controller: "groups", action: "new") %>
      <li>
        <h2>CATEGORIES</h2>
      </li>
      <% else %>
      <li>
        <%= link_to '<', root_path %>
        <h2>TRANSACTIONS</h2>
      </li>
      <% end %>
    </ul>
  </nav> <br>
  <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%if user_signed_in? %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% end %>
  </body>
</html>
